body
{
    background-image: url(../images/1_8mNNZuvAjFWcFCcqEDMUpQ.png);
}
#demo
{
    /*101357*/
    background-color: #1f9a9e;  
}
#age
{
    color: teal;
}
#ageText
{
    color: teal;
}